body {
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Chewy', cursive;
}

h1 {
    font-size: 6rem;
    text-align: center;
    font-family: 'Chewy', cursive;
    color: pink;
    text-shadow: rgb(0,0,0) 15px 15px 5px;
}

.scoreBoard {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border: black 5px solid;
    border-radius: 20px;
    padding: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.player1 {
    margin-right: 3rem;
}
.player2 {
    margin-left: 3rem;
}
.score {
    color: red;
}

.game {
    border: 7px solid black;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 25px;
}
.row {
    width: 80px;
    height: 80px;
    border: 5px solid black;
    margin: 10px auto;
    border-radius: 50%;
    flex: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}
.column {
    flex-direction: column;
    justify-content: center;
   margin: 0 auto;
   flex: 1;
}

.pink {
 background-color: pink;
}
.black {
 background-color: black;
}

button {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 90px;
    outline: none;
    background-color: black;
    color: pink;
    border: none;
    border-radius: 20px;
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#buttons {
    display: flex;
}

#restart {
    margin-right: 5rem;
}
#clear {
    margin-left: 5rem;
}